body{
    background-color: #E8DDB5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.blog-title{
    font-family: "Shadows Into Light";
    font-size: 50px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    color: #666A86;
}
.link{
    text-decoration: none;
    width: 150px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #333333;
    color: white;    
}

button{
    float: right;
    width: 150px;
    padding: 8px;
    text-align: center;
    border: none;
    background-color: #333333;
    color: white;  
}
ul{
    display: block;
    gap: 10px;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.post-image {
    width: 500px; /* Set the width to 300 pixels */
    height: auto; /* Let the height adjust proportionally based on the width */
    /* You can adjust the width and height values as needed */
}
.properties{
    float: right;
}

.post-title, .post-content{
    color: #666A86;
}

