body{
    background-color: #E8DDB5;
}
.blog-title{
    font-family: "Shadows Into Light";
    font-size: 50px;
    margin-top: 0;
    color: #9C9583;
}
.navbar{
    display: inline-block;
    margin-left: 600px;
}
.link{
    float: right;
    text-decoration: none;
    margin-top: 20px;
    width: 150px;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #333333;
    color: white;    
}

button{
    float: right;
    width: 150px;
    padding: 8px;
    text-align: center;
    border: none;
    background-color: #333333;
    color: white;  
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
}

.post-image {
    width: 300px; /* Set the width to 300 pixels */
    height: auto; /* Let the height adjust proportionally based on the width */
    /* You can adjust the width and height values as needed */
    float: center;
}
.properties{
    float: right;
}